<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-6 pull-left">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" >
                <map-directions [origin]="origin" [destination]="destination"></map-directions>
            </agm-map>
        </div>
        <div class="col-md-6 pull-right">
            <form class="form-horizontal"[formGroup]="bookingForm" (ngSubmit)="onSubmit()" >
                <!-- Form Name -->
                <legend>Get Booking</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="trip_name">Trip Name</label>
                    <div class="col-md-4">
                        <input id="trip_name" formControlName="tripName" name="trip_name" type="text" placeholder="Enter Trip Name" class="form-control input-md">
                        <!--<p class="help-block" >Please Enter Product Name</p>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="date_from">Date start</label>
                    <div class="col-md-4">
                        <date-picker formControlName="dateFrom" format="L" ></date-picker>
                        <!--<p class="help-block" >Please Enter Product Name</p>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="trip_name" >Date End</label>
                    <div class="col-md-4">
                        <date-picker formControlName="dateTo" format="L" ></date-picker>
                        <!--<p class="help-block" >Please Enter Product Name</p>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="origin_city">Origin</label>
                    <div class="col-md-4">
                        <input id="origin_city" formControlName="originSearch" #originSearch name="origin_city" type="text" placeholder="Enter Origin City" class="form-control input-md">
                        <!--<p class="help-block" >Please Enter Product Name</p>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="destination_city">Destination City</label>
                    <div class="col-md-4">
                        <input id="destination_city" formControlName="destinationSearch" #destinationSearch name="destination_city" type="text" placeholder="Enter destination City"
                            class="form-control input-md">
                        <!--<p class="help-block" >Please Enter Product Name</p>-->
                    </div>
                </div>
                  <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="save"></label>
                    <div class="col-md-4">
                    <input type="submit" class="btn btn-success" value="Finalize"  />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div id="json_res">
        {{formData | json}}
    </div>
</div>